.page-content {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1920px;
}

.page-header {
  background-image: url("/images/HeaderBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-width: 100%;
}

.page-header_title-block {
  display: block;
  text-align: center;
  padding: 295px 0px 0px 0px;

  &-name {
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;

    text-transform: uppercase;

    color: #ffffff;
    margin: 0px;
    margin-bottom: 8px;
  }

  &-text {
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;

    letter-spacing: 0.31em;

    color: #ffffff;
  }
}

.page-header_button {
  margin: 48px auto;
  max-width: 648px;
  max-height: 60px;

  padding-left: 36px;
  background: #ffffff;

  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 180px;

  &-input {
    border: none;
    width: 315px;
    height: 20px;
  }

  @media screen and (max-width: 576px) {
    gap: 50px;
    margin: 48px 18px;
  }
}

.page-header_button-input::placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  letter-spacing: 0.2em;

  color: #999999;
}

.page-header_button-search {
  width: 139px;
  height: 52px;
  background: #5373fd;
  padding-right: 0px;

  &-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 16px 24px;
  }

  &-text {
    font-family: "Aleo", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #ffffff;
  }
  svg {
    margin-right: 12px;
  }
}

.page-header_scroll {
  margin: 211px auto 0px;

  &-title {
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    text-align: center;
    letter-spacing: 0.2em;

    color: #ffffff;
  }
}

.nav-block {
  min-height: 84px;
  display: flex;
  align-items: center;
  gap: 577px;
  background-color: #5373fd;


  @media screen and (max-width: 1360px) {
    gap: 397px;
  }
  @media screen and (max-width: 1024px) {
    gap: 217px;
  }

  @media screen and (max-width: 768px) {
   display: block;
  text-align: center;
  }
  @media screen and (max-width: 768px) {
   display: flex;
   }

  &_title {
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #ffffff;
   margin: 32px 0 32px 300px;
   
  }
}
@media screen and (max-width: 1360px) {
  .nav-block_title {
     margin: 32px 0 32px 110px;
  }  
  @media screen and (max-width: 1024px) {
    .nav-block_title{
      margin: 32px 0 32px 32px;
    }
  }
  @media screen and (max-width: 768px) {
    .nav-block_title {
       padding: 32px 0 0 0;
       text-align: center;
    }
  }
}
@media screen and (max-width: 576px) {
  .nav-block_title {
     text-align: center;
     padding: 32px 0;
  }
}
.nav {
  display: flex;
   position: relative;
  padding: 0px;
  gap: 40px;
}

.nav ul {
  list-style: none;
  width: 100%;
  display: flex;
  gap: 40px;

  font-family: "Aleo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #ffffff;

  a {
    color: #ffffff;
  }
}

.burger {
  display: none;
 
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 20px;
  height: 18px;
}

.burger span {
  height: 2px;
  width: 50%;
  transform: scale(1);
  background-color: #ffffff;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;

  transform: all 0.3s ease 0s;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger.active span {
  transform: scale(0);
}

.burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

@media screen and (max-width: 576px) {
  .burger {
    display: flex;
  }

  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 50%;
    height: 30%;
    top: 650px;
    bottom: 0;
    left: 250px;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 20px 5px;
    background-color: #5373FD;
    animation: burgerAnimation 0.4s;
  }

  .nav ul {
    flex-direction: column;
    row-gap: 30px;
    align-items: flex-start;
  }
}

.open {
  display: flex !important;
}
@keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content-block {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1920px;
}

.conteiner-1 {
  background-image: url("/images/WhyBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  max-width: 100%;
  min-height: 100vh;
}

.conteiner-1_block {
  display: flex;
  padding: 124px 300px;
  gap: 136px;

  @media screen and (max-width: 1360px) {
    padding: 124px 110px;
    gap: 122px;
  }
  @media screen and (max-width: 1024px) {
    padding: 124px 32px;
    gap: 24px;
  }
  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
    padding: 60px 10px;
  }
}

.conteiner-1_block-content {
  width: 100vh;
  height: 344px;
  @media screen and (max-width: 1360px) {
    width: 548px;
  }
  @media screen and (max-width: 768px) {
    text-align: center;
  }

  &_title {
    font-family: "Aleo", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;

    text-transform: capitalize;

    color: #ffffff;
    margin-bottom: 24px;
  }

  &_text {
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;

    letter-spacing: 0.1em;

    color: #ffffff;

    margin-bottom: 32px;
  }
}

.conteiner-1_block-content_button {
  background: #5373fd;
  width: max-content;
  height: 60px;
}

span {
  font-family: "Aleo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;

  color: #ffffff;

  padding: 20px 32px;
}

.content-1_block-image {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (max-width: 768px) {
    flex-direction: row;
    padding: 10px 24px;
  }
  @media screen and (max-width: 576px) {
    flex-direction: row;
    padding: 10px 18px;
    margin: 0 auto;
  }

  &_1 {
    margin-right: 74px;

    @media screen and (max-width: 768px) {
      margin-right: 0px;
    }
    @media screen and (max-width: 576px) {
      width: 248px;
    }
  }
  &_2 {
    margin-left: 74px;
    @media screen and (max-width: 768px) {
      margin-left: 0px;
    }
    @media screen and (max-width: 576px) {
      width: 248px;
    }
  }
}

.conteiner-2 {
  background: #333333;
  background-size: cover;
  background-position: center;
  height: 100%;
  max-width: 100%;
  position: relative;
}

.conteiner-2_steps {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 150px;
  padding: 107px 300px 59px 300px;

  @media screen and (max-width: 1360px) {
    padding: 107px 244px 59px 244px;
    gap: 200px;
  }
  @media screen and (max-width: 1024px) {
    padding: 107px 135px 59px 136px;
    gap: 140px;
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
    height: fit-content;
    gap: 30px;
    padding: 60px 250px 104px;
  }
}
.conteiner-2_steps-image {
  position: absolute;
  top: 20px;
  left: 300px;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.conteiner-2_steps-block {
  text-align: center;

  &_title {
    font-family: "Aleo" sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;

    text-align: center;
    text-transform: capitalize;

    color: #ffffff;

    margin-top: 21px;
  }
}

.conteiner-3 {
  background-image: url("/images/render-1477041_1280\ 1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 684px;
  max-width: 100%;
}

.conteiner-3_block {
  margin: 220px 972px 120px 300px;
  gap: 16px;
  background: rgba(35, 35, 35, 0.9);
  padding: 44px 32px;
  width: 648px;
  height: 344px;

  &-text {
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    font-size: 16px;
    letter-spacing: 0.1em;

    color: #ffffff;
  }

  &-title {
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;

    text-transform: uppercase;

    color: #ffffff;
  }

  &-button {
    background: #5373fd;
    width: max-content;
    height: 60px;
    margin-top: 24px;
  }
}
@media screen and (max-width: 1360px) {
  .conteiner-3_block {
    margin: 220px 692px 120px 110px;
  }
}
@media screen and (max-width: 1024px) {
  .conteiner-3_block {
    margin: 220px 442px 120px 32px;
  }
}
@media screen and (max-width: 768px) {
  .conteiner-3_block {
    margin: 120px 24px;

    height: 348px;
  }
}
@media screen and (max-width: 576px) {
  .conteiner-3_block {
    margin: 120px 18px;
    width: 540px;
    height: 376px;
  }
}

.conteiner-4 {
  background-image: url("/images/spain-1859434_1280\ 1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 684px;
  max-width: 100%;
}

.conteiner-4_block {
  margin: 220px 300px 120px 971px;
  gap: 16px;
  background: rgba(35, 35, 35, 0.9);
  padding: 44px 32px;
  width: 648px;
  height: 344px;
}

@media screen and (max-width: 1360px) {
  .conteiner-4_block {
    margin: 220px 110px 120px 692px;
  }
}
@media screen and (max-width: 1024px) {
  .conteiner-4_block {
    margin: 220px 32px 120px 442px;
  }
}
@media screen and (max-width: 768px) {
  .conteiner-4_block {
    margin: 120px 24px;
  }
}
@media screen and (max-width: 576px) {
  .conteiner-4_block {
    margin: 120px 18px;
    width: 540px;
    height: 376px;
  }
}

.conteiner-5 {
  background-image: url("/images/BG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  max-width: 100%;
  position: relative;

  @media screen and (max-width: 768px) {
    object-fit: cover;
  }
  h2 {
    text-align: center;
    font-family: "Aleo", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;

    text-align: center;
    text-transform: capitalize;

    color: #ffffff;

    margin-top: 120px;
  }
}

.conteiner-5_block {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 60px 295px 150px 300px;

  &-text {
    padding: 48px 65px 48px 60px;
    background: #333333;

    &_title {
      font-family: "Josefin Sans", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;

      text-transform: uppercase;

      color: #ffffff;
      margin-bottom: 16px;
      margin-top: 0px;
    }

    &_quote {
      font-family: "Josefin Sans", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 28px;

      letter-spacing: 0.1em;

      color: #ffffff;
      text-indent: 30px;
    }
    svg {
      position: absolute;
    }
  }
}

@media screen and (max-width: 1360px) {
  .conteiner-5_block {
    margin: 60px 110px 180px;
  }
}
@media screen and (max-width: 1024px) {
  .conteiner-5_block {
    margin: 60px 32px 180px;
  }
}
@media screen and (max-width: 768px) {
  .conteiner-5_block {
    flex-direction: column;
  }
}

.footer {
  height: 290px;
  background-color: #000000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  h2 {
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #ffffff;
    margin-bottom: 8px;
  }
  p {
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    letter-spacing: 0.2em;

    color: #ffffff;
  }
}

.footer-content {
  display: block;
  text-align: center;
  padding: 80px;
}

.footer-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 22px;

  svg :hover {
    fill: #5373fd;
  }
}
